* {
    box-sizing: border-box;
}


.menu {
    display: flex;
    justify-content: flex-end;
    position: sticky;
}

#burger-menu {
    width: 60px;
    height: 60px;
}

#settingsIcon {
    width: 50px;
    height: 50px;
}

.footericons {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #fbf4ed;
}

.ficons {
    margin-right: 20px;
}

.binge-font {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.btn {
    width: 150px;
}

.loginlogo {
    margin: auto;
    width: 200px;
    height: 100px;
}

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
}

.loginput {
    background-color: lightgray;
    border: solid 3px rgb(187, 187, 187);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#inputfields {
    margin-bottom: 20px;
}

.loginButton:hover {
    background-color: lightblue;
    color: black;
}

#card-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

#card-container .card img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

.article {
    padding: 40px;
}