

#burger-menu {
    width: 60px;
    height: 60px;
}

.footericons {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 25%;
    left: 25%;
}

.ficons {
    margin-right: 20px;

}

.binge-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}